.service img{
    width: 100%;
}

@media(max-width: 768px){
    .service img{
        width:100%;
    }
  }
  
  
  @media(max-width: 576px){
    .service img{
        width: 100%;
    }
  }
  
  @media(max-width: 300px){
    .service img{
        width: 100%;
    }
  }
